body{
    font-family: Arial, sans-serif;
    background-color : #f4f4f4;
    text-align:center;
    padding:40px;
}

textarea{
    width:500px;
    height:150px;
    font-size:16px;
    padding:10px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    font-size:16px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

h2{
    margin-top:30px;
    font-size:36px;
}

p{
    font-size:22px;
}